<h1>{{title}}</h1>

<p>Avec property biding :</p>
<h1 [innerHTML]="title"></h1>

<img [src]="imageUrl" alt="Image">

<p [ngClass]="nomClass">Cecie est une application</p>

<button [disabled]="isActif">Bouton</button>

<button (click)="clique()">Cliquer</button>

<table>
  <tr>
    <th>Nom</th>
    <th>Prenom</th>
    <div *ngIf="isDetails">
      <th>Email</th>
      <th>Téléphone</th>
      <th>Age</th>
    </div>
    
  </tr>
  <tr *ngFor="let util of utilisateurs">
      <td>{{util.nom}}</td>
      <td>{{util.prenom}}</td>
      <div *ngIf="isDetails">
        <td>{{util.email}}</td>
        <td>{{util.tel}}</td>
        <td>{{util.age}}</td>
      </div>
      
  </tr>
</table>

<button *ngIf="!isDetails else cache" (click)="details()">Montrer détails</button>
<ng-template #cache><button (click)="cacherDetails()">Cacher détails</button></ng-template>



<input type="text" [(ngModel)]="msg">
<p>Mon texte : {{ msg }}</p>

<label for="">Nom :</label>
<input type="text" [(ngModel)]="nom">

<label for="">Prénom :</label>
<input type="text" [(ngModel)]="prenom">

<label for="">Email :</label>
<input type="text" [(ngModel)]="email">

<label for="">Téléphone :</label>
<input type="text" [(ngModel)]="tel">

<label for="">Age :</label>
<input type="number" [(ngModel)]="age">

<button (click)="ajoutUtilisateur()">add</button>